<configuration>
<system.webServer>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>

	        <rule name="BlockAccessToPublic" patternSyntax="Wildcard" stopProcessing="true">
	          <match url="*" />
	          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
	            <add input="{URL}" pattern="/web/*" />
	          </conditions>
	          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
	        </rule>
	        <rule name="RewriteAssetsToPublic" stopProcessing="true">
	          <match url="^(.*)(\.css|\.js|\.jpg|\.png|\.gif|\.ico)$" />
	          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
	          </conditions>
	          <action type="Rewrite" url="web/{R:0}" />
	        </rule>
	        <rule name="RewriteRequestsToPublic" stopProcessing="true">
	          <match url="^(.*)$" />
	          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
	          </conditions>
	          <action type="Rewrite" url="web/app.php/{R:0}" />
	        </rule>
	      </rules>

    </rewrite>
	
	<!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->
    
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- adds index.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.antarescloud.com/ -->
    
    <defaultDocument enabled="true">
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
	
</system.webServer>
</configuration>
